@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: red;  */
}

/* BODY STYLES */
body {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* HEADER STYLES */

header {
  background: #D4AF37;
  padding: 12px;

}

header>h1 {
  color: #fff;
  text-align: center;
  font-family: Rock Salt, 'Times New Roman', Times, serif;
}

/* SCOREBOARD  */
#user {
  position: absolute; 
  top: 20px; 
  left: -110px; 
}

#comp {
  position: absolute; 
  top: 20px; 
  right: -150px; 
}
.label {
  background: #434343;
  color: white; 
  font-weight: bold;  
  font-size: 30px; 
  padding: 3px 10px; 
  font-family: Handlee, sans-serif;
  border: 1px dotted #fff;  
}

.win-label {
  background: darkgreen; 
}
.lose-label {
  background: red; 
}
.tie-label {
  background: lightgray; 
  color: #000000; 
}


.score-board {
  margin: 20px auto;
  position: relative;
  border: 2px solid #D4AF37; 
  border-radius: 20px;
  text-align: center;
  width: 200px;
  color: #fff;
  font-size: 46px;
  padding: 10px 15px;
  font-family: Caveat, sans-serif;
}

/* RESULT BOARD */
/* RESULT */

.results,
.user-choice,
.comp-choice {
  font-size: 25px;
  color: #fff;

}

.results>p,
.user-choice>p,
.comp-choice>p {
  text-align: center;
  font-weight: bold;
  font-family: Handlee, 'Times New Roman', Times, serif, sans-serif;

}

/* CHOICES */

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  border: 4px solid #D4AF37;
  border-radius: 50%;
  margin: 10px 30px;
  width: 150px;
  /* padding: 10px;     */
  display: inline-block;
  transition: all 0.8s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.choice:hover {

    -webkit-animation: jello-vertical 0.9s both;
            animation: jello-vertical 0.9s both;
  cursor: pointer;
}
/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


/* FOOTER */
footer {
  background: #D4AF37; 
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 80px; 
}

footer > p { 
  text-align: center; 
  font-weight: bold;
  /* margin: 10 auto;   */
  padding: 15px; 
  opacity: 0.5; 
}